<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <a class="selected" href="/">Home</a>
                <a href="/signup">Sign Up</a>
                <a href="/login">Login</a>
            </nav>
        </header>
        <h1>Welcome to the super awesome cool home page.</h1>
        <p>This is where cool content will go.</p>
    </div>
</body>

</html>